# IntelliJ / Android Studio
*.iml
.idea/
.gradle/

# Local config
local.properties

# Build folders (VERY IMPORTANT)
build/
*/build/

# Native build
.externalNativeBuild/
.cxx/

# APK / Bundle outputs
*.apk
*.aab

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Captures
captures/